<%- include("./../../Partes/cabecera.ejs") %>
<link rel="stylesheet" href="/estilos/estado.css">
<div class="contenido">
     <div class=""style="width:80%;">
       <div class="card mb-3">
         <div class=""style="width:100%; height:400px; background: #df6a00">
           <img src="/img/personal.png"  alt="Responsive image" height="400px;">
         </div>
         <div class="card-body">
           <h1 class="card-title">Mi cuenta</h1>
           <p id="nombre" class="card-text">Nombre: .</p>
           <p id="apellido" class="card-text">Apellidos: .</p>
           <p id="ci"class="card-text">Ci: .</p>
           <p id="correo"class="card-text">Correo: .</p>
           <p id="telefono" class="card-text">Telefono: .</p>
           <p id="fena" class="card-text">Fecha de Nacimiento: .</p>
           <p id="cargo"class="card-text">Cargo: .</p>
           <p id="actividad" class="card-text">Actividad: .</p>
           <p class="card-text"><button type="submit"class="btn btn-danger" name="button">Cerrar Sesion</button></p>
         </div>
       </div>
     </div>
   </div>

<%- include("./../../Partes/piePagina.ejs") %>
