<%- include("./../../Partes/cabecera.ejs") %>

<link rel="stylesheet" href="/estilos/estado.css">

    <div class="contenido">

      <div class="divGrande" style="background:#eeed;">

        <form class="contenido" action="/iniciarSesion" method="post">
          <div class="divGrande "style="background:rgba(175, 106, 117, 0); padding:50px;">
            <h1 style="text-align:center; padding:20px;">Inicio de Sesion</h1>
            <div class="form-group">
              <label for="exampleInputEmail1 "class="form-control-lg">Carnet de Identidad</label>
              <input name="ci" type="number" class="form-control form-control-lg"  placeholder="Ingrese su CI">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"class="form-control-lg">Contraseña</label>
              <input name="contra" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <button type="submit" class="enlaceAzul btn btn-primary " style="font-size:20px;">Iniciar Sesion</button>
          </div>
        </form>

      </div>

    </div>

<%- include("./../../Partes/piePagina.ejs") %>
