</div>
<div class="letras" id="piePagina">
  <div class="objetosCont">
    <div class="tarjeta">
      <div class="contenidoTarjeta">
        <p id="reloj" style="color: white;"></p>
        <script src="/scripts/scriptFechas.js" charset="utf-8"></script>
        <h5 class="card-title">HC - INCERPAZ</h5>
        <span class="card-text">TELEFONOS: XXXXXXX - XXXXXXX</span><br>
        <span class="card-text">CORREO: XXXXXXX@gmail.com</span><br>
        <span class="card-text">DIRECCION CASA MATRIZ: XXXXXXX - XXXXXXX</span><br>
        <img src="/img/incerpazMonocromatico.png" alt="" width="200px" height="120px">
        <p class="card-text color1" >© 2019 HC-INCERPAZ</p>
      </div>
    </div>
  </div>
</div>

  </body>
<script src="https://kit.fontawesome.com/2c6b1244a6.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script  src="https://code.jquery.com/jquery-3.4.1.js"  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="  crossorigin="anonymous"></script>
</html>
